.banner-container {
    width: 100%;
    overflow: hidden; 
}

.slides {
    transition: transform 1s ease-in-out; 
    width: 100%; 
}

.slide {
    width: 100%; 
    height: auto; 
    flex-shrink: 0; 
}
